body{
    margin: 0;
}
.container{
    display: grid;
    background-color: black;
    padding: 20px;
    gap:20px;
    grid-template-columns: 300px auto auto 300px;
}
.item{
    background-color:rgb(27, 27, 54);
    color: white;
}
.a{
    grid-row: 1/10;
}
.b{
    grid-column: 2/ span 1;
    grid-row: 1/3;
    text-align: center;
    background-color: blueviolet;
}
.c{
    grid-column: 3/span 1;
    grid-row: 1/3;
    text-align: center;
    background-color: rgb(7, 142, 225);
}
.d{
    grid-column: 4;
    font-size: 20px;
}
.e{
    grid-row: 1;
    grid-column: 4;
    font-size: 20px;
}
.f{
    grid-row: 1/3;
    grid-column: 5/span 1;
    place-items: center;
    display: grid;
}
.f img{
    max-width: 50%;
    height: auto;
    margin-top: 30px;
    margin-left: 50px;
}
.g{
    grid-column: 2/span 3;
    grid-row: 3/8;
    place-items: center;
    display: grid;
}
.g img{
    width: 90%;
    height: 400px;
    margin-top: 30px;
    margin-left: 50px;
}
.h{
    grid-row: 3/8;
    grid-column: 5/span 1;
    place-items: center;
    display: grid;
}
.h img{
    max-width: 50%;
    height: auto;
    margin-top: 30px;
    margin-left: 60px;
}
.i{
    grid-row: 10/8;
    grid-column: 2/span 1;
    place-items: center;
    display: grid;
}
.i img{
    max-width: 50%;
    height: auto;
    margin-top: 30px;
    margin-left: 60px;
}
.j{
    grid-row: 10/8;
    grid-column: 3/span 3;
    place-items: center;
    display: grid;
}
.j img{
    max-width: 50%;
    height: auto;
    margin-top: 30px;
    margin-left: 60px;
}
.list ul{
    list-style-type: none;
    padding: 0;
    font-size: 20px;
}
.list li{
    margin-top: 50px;
    margin-left: 30px;
}
.list h1{
    text-align: center;
}

